@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans:wght@300&display=swap");

/* ---------------------------------------general */

/* ---------------------------------------buttons */

@media (min-width: 200px) {

    /* ---------------------------------------nav sm */

    .heading-sm {
        display: block !important;
    }

    .navbar {
        background-color: black;
    }

    .heading-sm {
        font-family: Anton;
        font-size: 150%;
    }

    .navbar-toggler-icon {
        color: rgb(255, 255, 255);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler:hover,
    .navbar-toggler:active,
    .navbar-toggler:focus,
    .navbar-toggler:focus-visible {
        padding: 0.25rem 0.75rem;
        line-height: 1;
        background-color: #ffffff00;
        border: 1px solid #ffffff00;
        border-radius: 0.25rem;
    }


    /* ---------------------------------------header sm */

    /* ---------------------------------------albums sm */

    /* ---------------------------------------media player sm */

    /* ---------------------------------------about-recent sm */

    /* ---------------------------------------merch sm */


}

@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .navbar {
        background-color: transparent;
    }

    .heading-sm {
        display: none !important;
    }

    #navbarNavDropdown {
        display: none !important;
    }

    .link-left {
        margin-right: 50px;
    }

    .link-right {
        margin-left: 50px;
    }

    /* ---------------------------------------header md */

    /* ---------------------------------------albums md */

    /* ---------------------------------------media player md */

    /* ---------------------------------------about-recent md */

    /* ---------------------------------------merch md */



}

@media (min-width: 1000px) {

    /* ---------------------------------------nav lg */

    .link-left {
        margin-right: 100px;
    }

    .link-right {
        margin-left: 100px;
    }

    /* ---------------------------------------head lg */

    /* ---------------------------------------albums lg */

    /* ---------------------------------------about lg */

    /* ---------------------------------------merch lg */

    /* ---------------------------------------audio player lg */


}

@media (min-width: 1450px) {

    /* ---------------------------------------about xlg */

}