@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans:wght@300&display=swap");

/* ---------------------------------------general */


html {
    scroll-behavior: smooth;
}

body {
    background: black;
}

.heading {
    font-family: Anton;
    font-size: 300%;
}

.nav-link {
    font-family: Exo;
}

.block-divider {
    width: 50px;
    border: 2px solid rgb(255, 255, 255);
}

.white {
    color: white;
}

.black {
    color: black;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.navbar.trigger {
    transition: 750ms ease;
    background: black !important;
    color: white;
}

.navbar a {
    color: white;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 4px;
    line-height: inherit;
    white-space: nowrap;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #ffffff5e;
    font-family: Exo;
}

.footerlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerlinks i{
    font-size: 20px;
}

.footerlinks a{
    color: white;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}


/* ---------------------------------------buttons */

@media (min-width: 200px) {

    /* ---------------------------------------nav sm */

    .heading-sm {
        display: block !important;
    }

    .navbar {
        background-color: black;
    }

    .heading-sm {
        font-family: Anton;
        font-size: 150%;
    }

    .navbar-toggler-icon {
        color: rgb(255, 255, 255);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler:hover,
    .navbar-toggler:active,
    .navbar-toggler:focus,
    .navbar-toggler:focus-visible {
        padding: 0.25rem 0.75rem;
        line-height: 1;
        background-color: #ffffff00;
        border: 1px solid #ffffff00;
        border-radius: 0.25rem;
    }


    /* ---------------------------------------header sm */

    /* ---------------------------------------albums sm */

    /* ---------------------------------------media player sm */

    /* ---------------------------------------about-recent sm */

    /* ---------------------------------------merch sm */


}

@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .navbar {
        background-color: transparent;
    }

    .heading-sm {
        display: none !important;
    }

    #navbarNavDropdown {
        display: none !important;
    }

    .link-left {
        margin-right: 50px;
    }

    .link-right {
        margin-left: 50px;
    }

    /* ---------------------------------------header md */

    /* ---------------------------------------albums md */

    /* ---------------------------------------media player md */

    /* ---------------------------------------about-recent md */

    /* ---------------------------------------merch md */



}

@media (min-width: 1000px) {

    /* ---------------------------------------nav lg */

    .link-left {
        margin-right: 100px;
    }

    .link-right {
        margin-left: 100px;
    }

    /* ---------------------------------------head lg */

    /* ---------------------------------------albums lg */

    /* ---------------------------------------about lg */

    /* ---------------------------------------merch lg */

    /* ---------------------------------------audio player lg */


}

@media (min-width: 1450px) {

    /* ---------------------------------------about xlg */

}