@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans:wght@300&display=swap");

/* ---------------------------------------general */


html {
    scroll-behavior: smooth;
}

body {
    background: black;
}

.heading {
    font-family: Anton;
    font-size: 300%;
}

.nav-link {
    font-family: Exo;
}

.block-divider {
    width: 50px;
    border: 2px solid rgb(255, 255, 255);
}

.white {
    color: white;
}

.black {
    color: black;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.navbar.trigger {
    transition: 750ms ease;
    background: black !important;
    color: white;
}

.navbar a {
    color: white;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 4px;
    line-height: inherit;
    white-space: nowrap;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #ffffff5e;
    font-family: Exo;
}

.footerlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerlinks i{
    font-size: 20px;
}

.footerlinks a{
    color: white;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}


/* ---------------------------------------buttons */

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    border: solid 2px rgb(44, 44, 44);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(56, 56, 56);
    transition-duration: 0.4s;
    cursor: pointer;
}

.special {
    margin: auto;
}

.button1 {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

.button1:hover {
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

.button2 {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

.button2:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

@media (min-width: 200px) {

    /* ---------------------------------------nav sm */

    .heading-sm {
        display: block !important;
    }

    .navbar {
        background-color: black;
    }

    .heading-sm {
        font-family: Anton;
        font-size: 150%;
    }

    .navbar-toggler-icon {
        color: rgb(255, 255, 255);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler:hover,
    .navbar-toggler:active,
    .navbar-toggler:focus,
    .navbar-toggler:focus-visible {
        padding: 0.25rem 0.75rem;
        line-height: 1;
        background-color: #ffffff00;
        border: 1px solid #ffffff00;
        border-radius: 0.25rem;
    }


    /* ---------------------------------------header sm */

    .callout-container {
        height: 100vh;

        background: url("img/daft-punk-front-page-pic.jpg") no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        top: -100px;
    }

    .fa-angle-double-down {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
    }

    .down {
        text-align: center;
        position: relative;
        top: 0%;
    }

    .down p {
        padding-bottom: 70px;
        color: rgba(255, 255, 255, 0.836);
        font-family: Exo;
        font-size: 80%;
    }

    .jumbotron {
        margin-top: 150px;
    }

    .jumbotron-header {
        font-family: Russo One;
        font-size: 60px;
    }

    /* ---------------------------------------albums sm */

    .albums {
        margin-top: -100px;
        margin-bottom: 100px;
        background-color: rgb(0, 0, 0);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .heading-albums {
        font-family: Russo One;
        letter-spacing: 3px;
        font-size: 30px;
        text-align: center;
        padding-top: 150px;
    }

    .albumcol {
        background-color: rgba(0, 0, 0, 0);
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .picone {
        height: 250px;
        width: 250px;
        background: url("img/Tron_Legacy_Soundtrack.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 1px solid #363636;

        position: absolute;
    }

    .pictwo {
        height: 250px;
        width: 250px;
        background: url("img/random-access.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 1px solid #363636;

        position: absolute;
    }

    .picthree {
        height: 250px;
        width: 250px;
        background: url("img/daft-punk-album.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 1px solid #363636;

        position: absolute;
    }
    .spotify-connect {
        width: 50%;
        height: 40px;
        background-color: white;
        padding-left: 10px;
        text-align: left;
        clear: both;
        margin-top: 270px;
        display: inline;
    }

    .spotify-connect p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 16px;
        float: left;
        padding-left: 10px;
        font-family: Russo One;
        font-size: 12px;
    }

    .iconplay {
        display: inline;
        padding-right: 10px;
        float: right;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    .fa-play-circle:hover {
        color: grey;
    }

    .fa-spotify:hover {
        color: grey;
    }

    /* ---------------------------------------media player sm */

    * {
        box-sizing: border-box;
    }

    .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
    }
    .formPopup {
        display: none;
        position: fixed;
        left: 10%;
        top: 20%;
        bottom: 10%;
        right: 10%;
        border: none;
        z-index: 9;
        background-color: black;
        border: 2px solid white;
    }

    .playaudio {
        padding-top: 150px;
        font-family: Anton;
        color: white;
    }

    .audioplayer {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 95%;
    }


    /* ---------------------------------------about-recent sm */

    /* ---------------------------------------merch sm */


}

@media (min-width: 580px) {

    /* ---------------------------------------nav md */

    .navbar {
        background-color: transparent;
    }

    .heading-sm {
        display: none !important;
    }

    #navbarNavDropdown {
        display: none !important;
    }

    .link-left {
        margin-right: 50px;
    }

    .link-right {
        margin-left: 50px;
    }

    /* ---------------------------------------header md */

    /* ---------------------------------------albums md */

    .albums {
        margin-top: -100px;

        background-color: black;
        height: 70vh;
        background: url("../images/design-album.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .heading-albums {
        font-family: Russo One;
        letter-spacing: 3px;
        font-size: 60px;
        text-align: center;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .albumcol {
        background-color: rgba(0, 0, 0, 0);
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .picone {
        height: 200px;
        width: 200px;
        background: url("img/Tron_Legacy_Soundtrack.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 1px solid #363636;
    }
    .pictwo {
        height: 250px;
        width: 250px;
        background: url("img/random-access.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 1px solid #363636;
    }
    .picthree {
        height: 200px;
        width: 200px;
        background: url("img/daft-punk-album.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 1px solid #363636;
    }

    .spotify-connect {
        width: 100%;
        height: 40px;
        background-color: white;
        padding-left: 10px;
        text-align: left;
        clear: both;
        margin-top: 350px;
        display: inline;
    }

    .spotify-connect p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        float: left;
        padding-left: 10px;
        font-family: Russo One;
        font-size: 15px;
    }

    .iconplay {
        display: inline;
        padding-right: 10px;
        float: right;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }

    /* ---------------------------------------media player md */

    * {
        box-sizing: border-box;
    }

    .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
    }
    .formPopup {
        display: none;
        position: fixed;
        left: 10%;
        top: 20%;
        bottom: 10%;
        right: 10%;
        border: none;
        z-index: 9;
        background-color: black;
        border: 2px solid white;
    }

    .playaudio {
        padding-top: 200px;
        font-family: Anton;
        color: white;
    }

    .audioplayer {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    /* ---------------------------------------about-recent md */

    /* ---------------------------------------merch md */



}

@media (min-width: 1000px) {

    /* ---------------------------------------nav lg */

    .link-left {
        margin-right: 100px;
    }

    .link-right {
        margin-left: 100px;
    }

    /* ---------------------------------------head lg */

    /* ---------------------------------------albums lg */

    .albums {
        margin-top: -100px;
        background-color: black;
        height: 80vh;
        padding-bottom: 800px;
        background: url("img/design-album.jpg") no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .heading-albums {
        font-family: Russo One;
        letter-spacing: 3px;
        font-size: 60px;
        text-align: center;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .albumcol {
        background-color: rgba(0, 0, 0, 0);
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .picone {
        height: 250px;
        width: 250px;
    }
    .pictwo {
        height: 300px;
        width: 300px;
    }
    .picthree {
        height: 250px;
        width: 250px;
    }

    .spotify-connect {
        width: 350px;
        height: 50px;
        background-color: white;
        padding-left: 10px;
        text-align: left;
        clear: both;
        margin-top: 500px;
        display: inline;
    }

    .spotify-connect p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        float: left;
        padding-left: 10px;
        font-family: Russo One;
        font-size: 20px;
    }

    .iconplay {
        display: inline;
        padding-right: 10px;
        float: right;
        font-size: 26px;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }

    /* ---------------------------------------about lg */
    .about-text-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
    }

    .about-heading {
        font-family: Russo One;
        font-size: 200%;
        letter-spacing: 3px;
        color: white;
    }

    .about-text {
        font-family: Exo;
        font-size: 100%;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.705);
    }

    .redimg {
        height: 400px;
    }

    .about-div {
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .recent {
        margin-top: 200px;
        margin-bottom: 200px;
    }


    /* ---------------------------------------merch lg */

    /* ---------------------------------------audio player lg */


}

@media (min-width: 1450px) {

    /* ---------------------------------------about xlg */

}